{% block header %}
	<header class="header-desktop header-mobile row-limit-size-mobile">
		<a id="logo-lien-accueil" href="{{ path('app_home_page') }}">

			<img class="logo" src="{{ asset('asset/img/icone/logo.jpg') }}" alt="logo du site">

		</a>

		<nav id="menus-d" class="menus-m">
			<ul>
				<li>
					<a href="{{ path('app_home_page') }}">accueil</a</li>
				</li>
				<li>
					<a href="{{ path('app_prestation') }}">prestation</a>
				</li>
				<li>
					<a href="{{ path('app_paysagisme') }}">paysagismes</a>
				</li>
				<li>
					<a href="{{ path('app_amenagement') }}">amenagements</a>
				</li>
				<li>
					<a href="{{ path('app_contact') }}">contact</a>
				</li>
			</ul>
		</nav>

        <div id="menus-burger">
        <figure>
        <img src="{{ asset('asset/img/icone/header/menus-burger.svg') }}" alt=""></figure></div>


	</header>

{% endblock %}
